[Unit]
Description=logstash container
After=docker-login.service docker-mynet.service
Requires=docker-login.service docker-mynet.service

[Install]
WantedBy=multi-user.target

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
RestartSec=15
SyslogIdentifier=%p
ExecStartPre=-/bin/sh -c '/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --net mynet -p 5044 --name logstash --log-opt max-size=100m --log-opt max-file=3 --env-file=/usr/local/etc/templates/logstash.env {{ docker_user }}/{{ my_logstash }}:latest
ExecStop=/usr/bin/docker stop %p

